<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">About</h2>
                    <p class="aboutus-text">
                        This project is son of a great research realise in the context Vinícius Cabral's Master degree in Federal University of Pernambuco (UFPE) under supervison of Dr. Diego Salcedo. Nowadays it stands in development until 2020.
                    </p>
                    <a class="aboutus-more" href="https://github.com/viniciuscabral/ApiCoreRefibra">read more</a>
                </div>
            </div>
        </div>
    </div>
    </div> 
 