<div class="container">
        <div class="row">
            <div class="col-12"><h2>Anything in your mind</h2></div>
            <div class="col-12">
                <div id="custom-search-input">
                    <div class="input-group">
                        <input type="text" class="search-query form-control" placeholder="Search" />
                        <span class="input-group-btn">
                            <button type="button" disabled>
                                <span class="fa fa-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>